body {
  background-color: #e5e5e5;
  align-items: center;
 font-family: sans-serif;
 }
 
 .center {
   margin: auto;
   width: 50%;
   border: 3px solid green;
   padding: 10px;
 }
 
 .search-box {
     display: inline-block;
     padding: 10px;
   width: 300px;
     height: 30px;
   border: 1px solid #ccc;
   outline: 0;
     font-size: 16px;
   border-radius: 15px;
 }
 .search-box:focus {
   box-shadow: 0 0 15px 5px #b0e0ee;
   border: 2px solid #bebede;
 }
 
 .btn{
     height: 30px;
     width: 160px;
     font-size: 18px;
     padding: 0px;
     border-radius: 30px;
     box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
     background-color: #2D9CDB;
     color: white;
 }
 
 
 section {
   height: 100vh;
   background: url(background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
     background-position: default;
 }
 
 header {
   display: flex;
   justify-content: space-between;
     align-items: center;
   height: 18%;
   box-shadow: 0 5px 15px rgba(0,0,0,.2);	
 }
 
 .logo img {
    margin-left: 2.3em;
     width: 100px;
     height: 100px;
    max-width: 100%;
    height: auto !important;
 }
 
  nav ul {
   display: flex;
     flex-flow: nowrap;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: .5s;
     list-style-type: none;
 }
 
 ul li a {
   padding: 10px 20px;
   text-transform: uppercase;
   text-decoration: none;
   color: #262625;
   font-weight: bold;
     transition: .5s;
 }
 
 ul li a:hover {
   background: #000;
   color: #fff;
     transition: .5s
 }
 
 .menu-trigger {
     display:none;
     margin-right: 1.5em;
   background: #D56287;
     color: #fff;
     padding: 5px;
   cursor: pointer;
   font-weight: bold;
     text-decoration: none;
 }
 
 @media screen and (max-width:816px) {
   
      .menu-trigger {
     display:block;
   }
   
     header {
   display: flex;
   align-items: flex-start;
   height: 65%;
   
   
     }
   
     nav ul {
     display:block;
   
   
   }
   
   ul li {
     width: 50vh;
   
   }
    
     ul li a {
         display: block;
     /* text-align: center; */
     color: #ffff;
     background: rgba(0,0,0,.5);
         
   }
   
 }
 
 @media (max-width: 359px)
 {
   .logo img {
        margin-left: 0.1em;
        
 }
   
     
 }
 